

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Company Name</h4>
      <p> <%= @customer.company %></p>
    </div>
    <div class="col-md-4">
      <h4>First Name</h4>
      <p> <%= @customer.first_name %></p>
    </div>
    <div class="col-md-4">
      <h4>Last Name</h4>
      <p> <%= @customer.last_name %></p>
    </div>
  </div>
</div>

<%= render 'created_review' %>

<%= render 'create_review' %>
